<?xml version="1.0" encoding="utf-8"?>
<packages xmlns="urn:packages">
  <package id="AutoMapper" version="5.1.1" targetFramework="net45" />
  <package id="Iesi.Collections" version="4.0.1.4000" targetFramework="net45" />
  <package id="NHibernate" version="4.0.4.4000" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.103" targetFramework="net45" />
</packages>